:root {
  --bg-dark: #0f0f13;
  --text-light: #ffffff;
  --accent-purple: #8a2be2;
  --accent-purple-light: #a86fe7;
  --card-bg: #1b1b1f;
  --text-muted: #aaaaaa;
  --transition-speed: 0.3s;
}

body,
html {
  margin: 0;
  padding: 0;
}

.App {
  background-color: var(--bg-dark);
  color: var(--text-light);
}
